/* ===========Import Google Fonts=========== */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
/* ========X===Import Google Fonts===X======== */

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* ===========CSS Styling Color and Fonts Deffined=========== */
    :root{
        --font-family:'Heebo', sans-serif;
        --font-weigh4:400;
        --font-weigh5:500;
        --font-weigh6:600;
        --font-weigh7:700;
        --color1:#095a6d;
        --color2: #FFFFFF;
        --color3: #ACB1B4;
        --color4: #253745;
        --color5: #737A80;
        --color6: #02121E;
        --color8: #FF0000;
        --bgColor:#A9CCE3;
        --box-shadow: 0 0 20px rgb(0 0 0 / 5%);
        --box-shadowcard:  0 4px 16px rgb(0 0 0 / 10%);
    }
/* ========X===CSS Styling Color and Fonts Deffined===X======== */

/* ===========Common Styling=========== */
    ul{
        list-style-type: none;
        margin-bottom: 0rem;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: inherit;
    }
/* =========X==Common Styling==X========= */

/* ===============NavBar Components Styling============== */
    .navbar .container-fluid{
        padding: 8px 15px;
        background-color: var(--color2);
        box-shadow: var(--box-shadow);
    }
    .navbar .navbar-brand img{
        width: 100px;
        object-fit: contain;
    }
    .navbar .container-fluid .navbar-nav .nav-link{
        color: var(--color4);
        font-size: 18px;
        padding: 8px 10px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        transition: 0.4s ease-in-out;
    }
    .navbar .container-fluid .navbar-nav .nav-link:hover{
        color: var(--color1);
    }
    .navbar .container-fluid .navbar-nav .active{
        color: var(--color1);
    }
/* ===========X===NavBar Components Styling===X=========== */

/* ================Footer Components Styling============= */
    .footer{
        background-color: var(--bgColor);
        padding: 30px;
    }
    .footer .footer_social .footer_logo  a img{
        width: 150px;
    }
    .footer .footer_social{
        padding: 10px;
        text-align: center;
    }
    .footer .social_icons{
        margin-top: 8px;
    }
    .footer .footer_social .footer_paragraph p{
        padding-top: 15px;
        font-size: 16px;
        font-weight: var(--font-weigh7);
        color: var(--color4);
    }
    .footer .social_icons ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .social_icons ul li{
        margin: 0px 10px;
        font-size: 28px;
    }
    .footer .social_icons ul li .fa-youtube{
        color: #c4302b;
    }
    .footer .social_icons ul li .fa-instagram{
        color: #bc2a8d;
    }
    .footer .social_icons ul li .fa-facebook-f{
        color: #4267B2;
    }
    .footer .footer_social .footer_logo img{
        width: 200px;
        object-fit: contain;
    }
    .footer .footer-links, .footer .footer-contact{
        padding : 10px;
    }
    .footer .footer-links h3,.footer .footer-contact h3{
        color: var(--color6);
        font-size: 22px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        text-align: center;
    }
    .footer .footer-links .links,.footer .footer-contact .footer-contact-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-links .links ul li{
        margin-top: 5px;
        font-size: 16px;
        font-weight: var(--font-weigh7);
    }
    .footer .footer-links .links ul li a{
        color: var(--color4);
        transition: 0.4s ease-in-out;
    }
    .footer .footer-links .links ul li a:hover{
        color:var(--color1);
    }
    .footer .footer-contact ul{
        cursor: pointer;
    }
    .footer .footer-contact ul li{
        padding-top: 10px;
        font-size: 16px;
        font-weight: var(--font-weigh7);
        color: var(--color4);
    }
    .footer .footer-contact ul li span i{
        margin-right: 10px;
        color: var(--color1);
        font-size: 20px;
    }
    .footer .developer{
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
        border-top: 1px solid var(--color1);
    }
    .footer .developer p{
        font-family: var(--font-family);
        font-size: 18px;
        margin-bottom: 0px;
        color: var(--color4);
        font-weight: var(--font-weigh6);
    }
    .footer .developer #name{
        padding-top: 5px;
        font-size: 16px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh6);
    }
    .footer .developer #name span{
        color: var(--color6);
    }
    .footer .developer #name a{
        color: var(--color1);
        font-weight: var(--font-weigh6);
    }
    /* ====================ResponsiveNess==================== */
            @media(max-width:'500px'){
                .footer .footer_social .footer_paragraph p,.footer .footer-links .links ul li, .footer .footer-contact ul li{
                    font-weight: var(--font-weigh4);
                }
                .footer .footer-links h3,.footer .footer-contact h3{
                    font-size: 18px;
                }
                .footer .developer p{
                    font-size: 14px;
                }
                .footer .developer #name{
                    font-size: 13px;
                }
                .footer .developer #name,.footer .developer #name a{
                    font-weight: var(--font-weigh5);
                }
            }
    /* ====================ResponsiveNess==================== */
/* =============X===Footer Components Styling====X========= */

/* ====================Contact Us Page================ */
    .contact_form .heading, .services .heading, .about .heading, .product .heading, .clubs .heading{
        text-align: center;
        font-family: var(--font-family);
    }
    .contact_form .heading h2, .services .heading h2, .about .heading h2, .product .heading h2, .clubs .heading h2{
        color: var(--color1);
        font-weight: var(--font-weigh6);
    }
    .contact_form .heading p, .services .heading p, .about .heading p, .product .heading p, .clubs .heading p{
        color: var(--color5);
        font-size: 18px;
        font-weight: var(--font-weigh6);
    }
    .contact_form .contact_body {
        align-items: center;
    }
    .contact_form .contact_body .contact_detaile .contact_location{
        text-align: center;
        padding: 20px;
        box-shadow: var(--box-shadowcard);
        background-color: var(--color2);
        border-radius: 10px;
        margin: 10px 5px;
        cursor: pointer;
    }
    .contact_form .contact_body .contact_detaile .contact_location i, .contact_form .contact_body .contact_detaile .other_contact .contact_no i{
        background-color: var(--color1);
        color: var(--color2);
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .contact_form .contact_body .contact_detaile .contact_location p, .contact_form .contact_body .contact_detaile .other_contact .contact_no p{
        color: var(--color4);
        font-family: var(--font-family);
        font-weight: var(--font-weight5);
    }
    .contact_form .contact_body .contact_detaile .other_contact{
        cursor: pointer;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .contact_form .contact_body .contact_detaile .other_contact .contact_no{
        flex-basis: 50%;
        text-align: center;
        padding: 20px;
        margin: 10px 5px;
        box-shadow: var(--box-shadowcard);
        background-color: var(--color2);
        border-radius: 10px;
    }
    .contact_form .contact_form_body{
        background-color: var(--color2);
        border-radius: 10px;
        padding: 20px 30px;
        box-shadow: var(--box-shadowcard);
    }
    .contact_form .contact_form_body .form-floating label{
        font-weight: var(--font-weigh5);
        color: var(--color4) !important;
        font-family: var(--font-family);
    }
    .contact_form .contact_form_body .form-floating .form-control, .form-floating  .form-select{
        box-shadow: 0 0px 0px rgb(0 0 0 / 10%);
        font-weight: var(--font-weigh5);
        font-family: var(--font-family);
        color:var(--color4) !important;
    }
    .contact_form .contact_form_body .form-floating .form-control:focus, .form-floating .form-select:focus{
        outline: 1px solid var(--color1);
        border: 1px solid var(--color1);
        box-shadow: var(--box-shadowcard) !important;
    }
    .contact_form .contact_form_body .fade p{
        font-weight: var(--font-weight5);
        color: var(--color4);
        font-family: var(--font-family);
    }
    .contact_form .contact_form_body .contact_subit_btn{
        text-align: center;
    }
    .contact_form .contact_form_body .contact_subit_btn .btn{
        color: var(--color2);
        font-size: 18px;
        background-color: var(--color1);
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
    }
    .contact_form .contact_form_body .contact_subit_btn .btn:focus{
        box-shadow: 00px 00px 10px 4px var(--color1);
    }

    /* ===============Responsiveness Added============ */
        @media(max-width: 500px){
            .contact_form .contact_body .contact_detaile .other_contact{
                flex-direction: column;
            }
            .contact_form .contact_body .contact_detaile .other_contact .contact_no{
                flex-basis: 100%;
            }
            .contact_form .contact_body .contact_detaile .contact_location i, .contact_form .contact_body .contact_detaile .other_contact .contact_no i{
                padding:10px 15px;
            }
            .contact_form .contact_body .contact_detaile .contact_location p, .contact_form .contact_body .contact_detaile .other_contact .contact_no p, .contact_form .contact_form_body .form-floating label, .contact_form .contact_form_body .fade p{
                font-weight: var(--font-weigh4);
            }
        }
    /* =============X==Responsiveness Added==X========== */

/* =================X===Contact Us Page===X============= */

/* =================About Us Page================ */
        .about .subheading{
            align-items: center;
            justify-content: center;
        }
        .about .subheading h4, .team h4{
            text-align: center;
            font-family: var(--font-family);
            color: var(--color4);
            font-weight: var(--font-weigh5);
        }
        .about .subheading h5{
            text-align: center;
            font-family: var(--font-family);
            color: var(--color1);
            font-weight: var(--font-weigh5);
        }
        .about .subheading .btn{
            color: var(--color2);
            font-size: 16px;
            background-color: var(--color1);
            font-family: var(--font-family);
            font-weight: var(--font-weigh5);
        }
        .about .subheading .btn:focus{
            box-shadow: 00px 00px 10px 4px var(--color1);
        }
        .about .subheading p{
            cursor: pointer;
            font-family: var(--font-family);
            color: var(--color6);
            font-weight: var(--font-weigh4);
            text-align: justify;
            font-size: 16px;
        }
        .about .subheading .col-xl-6 p span i{
            color:var(--color1);
            padding: 3px;
            font-size: 16px;
        }
        .about .subheading .col-xl-4 img{
            cursor: pointer;
            padding: 2px;
            border: 1px solid var(--color1);
            border-radius: 5px;
        }
/* =============X===About Us Page===X============ */

/* =================All Clubs Display=============== */
    .clubs .clubs_row{
        justify-content: center;
    }
    .clubs .clubs_row .clubs_row_card{
        cursor: pointer;
        padding: 20px;
        margin: 10px;
        box-shadow: var(--box-shadowcard);
        text-align: center;
        border-radius: 10px;
    }
    .clubs .clubs_row .clubs_row_card i{
        background-color: var(--color1);
        font-size: 18px;
        color: var(--color2);
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 12px;
    }
    .clubs .clubs_row .clubs_row_card p{
        color: var(--color6);
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
    }
    .clubs .clubs_row .clubs_row_card p span{
        color: var(--color1);
    }
    .clubs .clubs_row .clubs_row_card .btn{
        color: var(--color2);
        font-size: 16px;
        background-color: var(--color1);
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
    }
    .clubs .clubs_row .clubs_row_card .btn:focus{
        box-shadow: 00px 00px 10px 4px var(--color1);
    }
/* ============X====All Clubs Display====X========== */

/* ===================Our Team Section================== */
    .team > .row{
        justify-content: center;
    }
    .team .team_card{
        font-family: var(--font-family);
        text-align: center;
        cursor: pointer;
        margin: 10px;
        padding: 20px;
        box-shadow: var(--box-shadowcard);
        border-radius: 10px;
    }
    .team .team_card img{
        width: 250px;
    }
    .team .team_card .employee_discription h4{
        color: var(--color4);
        font-weight: var(--font-weigh6);
    }
    .team .team_card .employee_discription h5{
        color: var(--color5);
        font-weight: var(--font-weigh6);
    }
    .team .team_card .employee_discription h6{
        color: var(--color6);
        font-weight: var(--font-weigh6);
    }
    .team .team_card .employee_discription p{
        color: var(--color6);
        font-weight: var(--font-weigh4);
    }
    .team .team_card .employee_discription p span i{
        color: var(--color1);
        font-size: 18px;
    }
/* ===============X====Our Team Section====X============== */

/* ==============Home Page=========== */
   .home{
       width: 100%;
   }
   .home img{
       width:100%;
       object-fit: cover;
   }
/* =========X====Home Page===X======= */